{% extends "base.html" %}
{% block content %}


            
            

        <div class="col-sm-9">

        <!-- <div class="row"> -->
          
            {% for product in products %}
            <div class="card">
                <img class="presentation_image" src="{{ MEDIA_URL }}{{ product.image1 }}">
                <h4 class="text-center">{{product.brand}} {{ product.name }}</h4>
                <p class="text-muted product-description">{{ product.description|truncatewords:10 }}</p>
                <p>Condition:</p>
                <p>Price: €{{ product.price }}</p>
                <i class="fa fa-shopping-cart" aria-hidden="true"><a href="{{product.ebaylink}}"></a></i>
                </div>
        {% endfor %}
        </div>
       

         <div class="pagination">
                <span class="step-links">
                    {% if products.has_previous %}
                        <a href="?page={{ products.previous_page_number }}" class="post-meta"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i></i></a>
                    {% endif %}
                <span class="current">Page {{ products.number }} of {{ products.paginator.num_pages }}</span>
                    {% if products.has_next %}
                        <a href="?page={{ products.next_page_number }}" class="post-meta"><i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></a>
                    {% endif %}
                </span>
            </div>


{% endblock %}