{% extends "base.html" %}
{% block content %}

<div class="album text-muted">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
                {% for category in categories %}
                    <li class="category-name"><a href="{% url 'category' category.id %}">{{ category.name }}</a></li>
                {% endfor %}
            
            
                <ol class="breadcrumb">
                    {% for crumb in crumbs %}
                        {% if forloop.last %}
                            <li class="active">{{ crumb.name }}</li>
                        {% else %}
                            <li><a href="{% url 'category' crumb.id %}">{{ crumb.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
            
            

        <div class="col-sm-9">

        <!-- <div class="row"> -->
          
            {% for product in products %}
            <div class="card">
                <img height="150" width="200" src="{{ MEDIA_URL }}{{ product.image1 }}">
                {{ product.name }}
                {{ product.description }}
                {{ product.price }}
                <p>this is new phone</p>
                </div>
        {% endfor %}
          
          <!-- <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
              <img data-src="holder.js/100px280/thumb" alt="Card image cap">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          <div class="card">
              <img data-src="holder.js/100px280/thumb" alt="Card image cap">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>

          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
              <img data-src="holder.js/100px280/thumb" alt="Card image cap">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          <div class="card">
              <img data-src="holder.js/100px280/thumb" alt="Card image cap">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>


          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
              <img data-src="holder.js/100px280/thumb" alt="Card image cap">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          <div class="card">
              <img data-src="holder.js/100px280/thumb" alt="Card image cap">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div> -->
        </div>

{% endblock %}