{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>http://www.it-fix.ie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="all rights reserved by pigasus.ie">
    <meta name="author" content="Ignas Grigaravicius">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Abel" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
    <link rel="stylesheet" href="{% static 'css/album.css' %}">
    <link rel="stylesheet" href="{% static 'css/component.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>    
    {% block head_js %}{% endblock %}
</head>
<body>
    {% for product in products %}
    <!-- Modal -->
    <div class="md-modal md-effect-1" id="modal-{{product.id}}" role="dialog">
        
        <div class="modal-dialog">
            
            <!-- Modal content-->
            <div class="md-content">
                <div class="modal-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 class="modal-title">{{product.brand}} {{product.name}}</h1>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><img class="modal-img-main" src="{{ MEDIA_URL }}{{ product.image1 }}" style="width:100%; padding-bottom:5px;"></div>
                                            <div class="swiper-slide"><img class="modal-img" src="{{ MEDIA_URL }}{{ product.image2 }}" style="width:100%; padding-bottom:5px;"></div>
                                            <div class="swiper-slide"><img class="modal-img" src="{{ MEDIA_URL }}{{ product.image3 }}" style="width:100%; "></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <p class="scroll">{{ product.description }}</p>
                                        <h2 class="price">price <span style="font-size:28px;">€{{ product.price }}</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="inline-buttons">
                                <button type="button"><a href="{{product.ebaylink}}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></button>
                                <button type="button" class="md-close" data-dismiss="modal"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!--end of modal-->
    <br>
    <!-- Personal information -->
    <div class="collapse" id="navbarHeader">
        <div class="container text-muted">
            <div class="row">
                <div class="col-xs-5 py-3">
                    <h4>Map</h4>
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2381.662392660598!2d-6.2714644!3d53.3492994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670c29e1c51c4d%3A0xb345a18cd61d2117!2sIT+Fix!5e0!3m2!1sen!2sus!4v1496319839749 " frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
                <div class="col-sm-4 py-3 contact-info">
                    <h4>About Us</h4>
                    <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                    <p>
                        <div class="advertrs-ebay text-muted">
                            <h5 class="seller">Trusted seller on:</h5>
                            <img src="{% static "images/adverts.png" %}" style="display:block;" alt="adverts">
                            <img src="{% static "images/ebay.png" %}" alt="ebay" style="width:150px;">
                        </div>
                    </p>
                </div>
                <div class="col-xm-1 col-sm-2 py-3 contacts">
                    <div class="social-box">
                    <h4>Address:</h4>
                    <ul class="list-unstyled text-muted">
                        <li>111 Capel St, North City, Dublin 1, Ireland</li>
                        <li>Open:</li>
                        <li>Mon-Sat 9AM–8PM</li>
                        <li>Sunday 10AM–7.30PM</li>
                        <li><i class="fa fa-phone-square" aria-hidden="true"></i> +353 1 872 7134</li>
                        <li><i class="fa fa-phone-square" aria-hidden="true"></i> +353 89 444 4344</li>                        
                        <li><a href="#"><img src="{% static "images/email.png" %}" alt="email" style="width:13.5px; margin-left: -1px;"></i> Email me</a></li>                        
                    </ul>
                    </div>
        
                    <div class="social-box">
                    <h4>Social media</h4>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i> Follow on Twitter</a></li>
                        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i> Like on Facebook</a></li>
                        <li> <a href="https://www.google.ie/search?q=IT+Fix,+111+Capel+St,+North+City,+Dublin+1,+Ireland&ludocid=12917908732441862423&gws_rd=cr&dcr=0&ei=AeU4WpSfGObGgAaxyJrgAQ#lrd=0x48670c29e1c51c4d:0xb345a18cd61d2117,1"><i class="fa fa-pencil-square" aria-hidden="true"></i> Customer's reviews</a></li>
                    </ul>
                </div>
                    </div>
                <div class="col-sm-1 py-1">
                    <img class="button-close" src="{% static "images/close.png" %}" alt="close"  data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                </div>
            </div>
        </div>
    </div>
    <!-- Search fierld -->
    <div class="container search-bar">
        <div class="row">
            <div class="col-md-12">
                <form method='GET' action="{% url 'search' %}">
                    <a href="/"><img class="it-fix-logo" src="{% static "images/it-fix-logo.jpg" %}" alt="back"/></a>
                    <input type="text" name="q" class="search-form-control" placeholder="Search">
                    <div class="grouped-buttons">
                        <button id="search_button" type="submit" class="search-button"><span><i class="fa fa-search" aria-hidden="true"></i> Search</span></button>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon contact-us"><i class="fa fa-question" aria-hidden="true"></i></span>
                        </button>
                    </div>
                </form> 
                
            </div>
        </div>
    </div>
    
    
    <!-- Navigation bar -->
    <div class="album text-muted">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 categories-list">
                    <a href="/products"><p class="cat-names flip" style="cursor:pointer;"><i class="fa fa-angle-right" aria-hidden="true"></i> All Products</p></a>
                    {% for category, subcategories in root_categories.items %}
                    <p class="cat-names flip" style="cursor:pointer;"><i class="fa fa-angle-right" aria-hidden="true"></i> {{ category.name }}</p>
                    <div class="panel">
                        {% for sub in subcategories %}
                        <ul class="subcat-names"><a href="{% url 'category' sub.id %}">{{ sub.name }}</a></ul>
                        {% endfor%}
                    </div>
                    {% endfor %}
                </div>
                {% block content %}
                {%endblock%}
            </div>
        </div>
    </div>
    <!-- brand logos -->
    <div class="container logos">
        <img class="brand-logo" src="{% static "images/samsung.png" %}" width="120px!important" alt="back"/>                    
        <img class="brand-logo" src="{% static "images/apple.png" %}" alt="back"/>                    
        <img class="brand-logo" src="{% static "images/huawei.png" %}"alt="back"/>                    
        <img class="brand-logo" src="{% static "images/lg.png" %}" alt="back"/>                    
        <img class="brand-logo" src="{% static "images/sony.png" %}" alt="back"/>                    
        <img class="brand-logo" src="{% static "images/honor.png" %}" alt="back"/>                    
        <img class="brand-logo" src="{% static "images/nokia.png" %}" alt="back"/>                    
        <img class="brand-logo" src="{% static "images/motorola.png" %}" alt="back"/>                    
        <img class="brand-logo" src="{% static "images/blackberry.png" %}" alt="back"/>                    
        <img class="brand-logo" src="{% static "images/htc.png" %}" alt="back"/>                    
    </div>
    <!-- footer -->
</br>
<div class="container">
        <div class="float-right" id="toTop">Back to top <i class="fa fa-long-arrow-up" aria-hidden="true"></i></div>
    </div>
<footer class="text-muted">
        <div class="container">
        <p>created and developed by <img class="logo" src="{% static "images/pigasus-logo.png" %}" alt="back"/> <i>pigasus</i><span style="font-size:9px;"> .ie</span></p>
        <p style="font-size:7px;">Web Design / E-commerce / Web & Social Media administaration</p>
    </div>
</footer>
</div>

<!-- Bootstrap core JavaScript-->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/4f2b93cb03.js"></script>
    <script rel="stylesheet" src="{% static 'js/classie.js' %}"></script>
    <script rel="stylesheet" src="{% static 'js/modalEffects.js' %}"></script>
    <script rel="stylesheet" src="{% static 'js/cssParser.js' %}"></script>          
    {% comment %} <script rel="stylesheet" src="{% static 'js/css-filters-polyfill.js' %}"></script> {% endcomment %}
    <script rel="stylesheet" src="{% static 'js/edit.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
    <script rel="stylesheet" src="{% static 'js/swiper.js' %}"></script>
    
</body>

</html>